<!DOCTYPE HTML>
<html>
	<head>
		<title>SMS Serial</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="{{ url_for('static', filename='js/ie/html5shiv.js') }}"></script><![endif]-->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
		<!--[if lte IE 9]><link rel="stylesheet" href="{{ url_for('static', filename='css/ie9.css') }}" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="{{ url_for('static', filename='css/ie8.css') }}" /><![endif]-->
        <script src="{{ url_for('static', filename='js/follow.js') }}"></script>
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="index.html">SMS Serial</a></h1>
					</header>

					{% if error == True %}
						<section id="wrapper">
							<header>
								<div class="inner">
									<h2>Error</h2>
									<p>{{ text }}</p>
								</div>
							</header>
						</section>
					{% else %}
						<section id="wrapper">
							<header>
								<div class="inner">
									<h2>Actions</h2>
									{% if text %}
										<p>{{ text }}</p>
									{% endif %}
								    <form method=post enctype=multipart/form-data>
								      <input type=file name=file>
								      <input type=submit value=Upload>
								    </form>
								</div>
							</header>
						</section>
					{% endif %}
			</div>

		<!-- Scripts -->
			<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/util.js') }}"></script>
			<!--[if lte IE 8]><script src="{{ url_for('static', filename='js/ie/respond.min.js') }}<![endif]-->
			<script src="{{ url_for('static', filename='js/main.js') }}"></script>
			<script src="{{ url_for('static', filename='js/html2csv.js') }}" ></script>

	</body>
</html>
